@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@inject UserManager<BTUser> BTUserManager

@{
    ViewData["Title"] = "Index";
    BTUser btUser = await BTUserManager.GetUserAsync(User);
}
<link href="~/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<h1>@btUser.FirstName's Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h3>Developer Tickets</h3>
<div class="container bg-white">
    <table id="allTickets" class="table table-striped table-bordered ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Archived)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArchivedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPriority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeveloperUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(t => t.DeveloperUserId == btUser.Id))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Archived)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArchivedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<h3>Submitter Tickets</h3>
<div class="container bg-white">
    <table id="subTickets" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Archived)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArchivedDate)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPriority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeveloperUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(t => t.OwnerUserId == btUser.Id))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Archived)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArchivedDate)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Bootstrap JS -->
<script src="~/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="~/js/jquery.min.js"></script>
<script src="~/plugins/simplebar/js/simplebar.min.js"></script>
<script src="~/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="~/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="~/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
<script src="~/js/table-datatable.js"></script>
<!--app JS-->
<script src="~/js/app.js"></script>

<script src="~/plugins/datatable/js/jquery.dataTables.min.js"></script>
@section Scripts{
    <script>
        $(function () {
            $("#allTickets").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#allTickets_wrapper .col-md-6:eq(0)');
        });

    </script>

    <script>
        $(function () {
            $("#subTickets").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#subTickets_wrapper .col-md-6:eq(0)');
        });

    </script>
}
