@model BugTracker.Models.ViewModels.ProjectMembersViewModel
    <h2> Assign Users </h2>
    <div class="card border-top border-0 border-4 border-primary">
        <div class="card-body">
            <div class="container">

                <div class="row">
                    <div class="col">
                        <div class="panel panel-green margin-bottom-40">
                            <div class="panel-heading">
                                <h3 class="panel-title"> @Model.Project.Name</h3>
                            </div>
                        </div>
                        <div class="col">
                            @*<p>
                                    Name :
                                    <span>@Model.Project.Name</span>
                                </p>*@
                            <div class="row">

                                <form asp-action="AssignUsers" asp-controller="Projects" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="@Model.Project.Id">
                                    <input type="hidden" asp-for="@Model.Project.Name">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Users" class="control-label">Assign team members for Project: @Model.Project.Name</label>
                                            <select asp-for="@Model.SelectedUsers" class="form-control" asp-items="@Model.Users" multiple="multiple"></select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <input type="submit" class="btn btn-success m-1" value="Assign Users" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                @*<p>
                                        Remove Users:
                                        <span>@Model.Project.Name</span>
                                    </p>*@

                                <form asp-action="RemoveUsers" asp-controller="Projects" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="@Model.Project.Id">
                                    <input type="hidden" asp-for="@Model.Project.Name">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Users" class="control-label">Remove team members on Project: @Model.Project.Name</label>
                                            <select asp-for="@Model.SelectedUsers" class="form-control" asp-items="@Model.Users" multiple="multiple"></select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <input type="submit" class="btn btn-danger m-1" value="Remove Users" />
                                            @*<a class="btn btn-danger" asp-action="RemoveUsers" asp-controller="Projects" asp-route-id="@Model.Project.Id">Remove Users </a>*@
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>





            </div>
        </div>
    </div>

    <!--End Hover Rows-->

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

